DB_HOST=
DB_PORT=5432
DB_NAME=llmgateway
DB_USER=
DB_PASSWORD=

AWS_REGION=ap-northeast-2
AWS_DEFAULT_REGION=ap-northeast-2
ECR_REGISTRY=061051247564.dkr.ecr.ap-northeast-2.amazonaws.com

SESSION_SECRET=
COLLECTOR_URL=http://usage-collector:8080
USAGE_COLLECTOR_TAG=latest
GATEWAY_WEB_TAG=latest

PORTKEY_URL=http://gateway:8787/v1/chat/completions
